# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
r:
  - release
osx_image: xcode10.3
arch: amd64

cache:
  directories:
  - $HOME/.local/share/renv
  - $TRAVIS_BUILD_DIR/renv/library

install:
  - Rscript -e "if (!requireNamespace('renv', quietly = TRUE)) install.packages('renv')"
  - Rscript -e "renv::restore()"

after_success:
  - Rscript -e "if (!requireNamespace('covr', quietly = TRUE)) install.packages('covr')"
  - Rscript -e 'covr::codecov()'

after_failure:
  - cat /home/travis/build/madedotcom/retl/retl.Rcheck/00install.out

r_packages:
  - testthat

addons:
  apt:
    sources:
    - sourceline: 'ppa:chris-lea/libsodium'
    packages:
    - libsodium-dev
