# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
cache: packages
sudo: false

r_github_packages:
  - cloudyr/aws.s3
  - jimhester/covr
  - byapparov/bigrquery
  - r-lib/gargle
  - jimhester/lintr

after_success:
  - Rscript -e 'covr::codecov()'

addons:
  apt:
    sources:
    - sourceline: 'ppa:chris-lea/libsodium'
    packages:
    - libsodium-dev
